<div id="pins" class="transitions-enabled">
      <% @pins.each do |pin| %>
        <div class="box panel panel-default">
          <%= image_tag pin.image.url(:thumb) if pin.image? %>
          <div class="panel-body"> 
            <%= pin.description %>
            <%= pin.user.email if pin.user %>
            <br>
            <%= link_to '', pin, class: "glyphicon glyphicon-eye-open" %> &nbsp; 
              <% if pin.user == current_user %>
                <%= link_to '', edit_pin_path(pin), class: "glyphicon glyphicon-edit" %> &nbsp; 
                <%= link_to '', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
              <% end %>
        </div>
      </div>    
    <% end %>
</div>